#headingContainer {
	padding: 4px;
}

.loadingDisplay {
	display: none;
}

.isLoading .loadingDisplay {
	display: inline-block;
}

.mapLayer {
	position: absolute;
	left: 0px;
	top: 0px;

	border: 1px solid #000;
}

#mapDisplayHolder {
	display: none;
	position: absolute;
	top: 54px;
	left: 160px;
}

.mapIsLoaded #mapDisplayHolder {
	display: block;
}

#saveButtons {
	display: none;
}

.mapIsLoaded #saveButtons {
	display: inline-block;
}

.isLoading .instructions {
	display: none;
}

.mapIsLoaded .instructions {
	display: none;
}

#mapTools {
	padding: 4px;
	display: none;
}

.mapIsLoaded #mapTools {
	display: block;
}

.mapToolsList {
	list-style-type: none;
	padding-left: 0px;
}

#mapTools button {
	text-align: left;
	width: 140px;
	margin-bottom: 4px;
}

#isSaving {
	display: none;
}

.isSaving #isSaving {
	display: inline-block;
}

#file {
	display: none;
}

.layerToggle {
	padding-left: 16px;
	list-style-type: none;
}

.layerToggle label {
	margin-bottom: 0px;
}