#headingContainer {
	padding: 4px;
}

.loadingDisplay {
	display: none;
}

.isLoading .loadingDisplay {
	display: inline-block;
}

#previousMapStore button {
	margin-left: 4px;
}

.mapLayer {
	position: absolute;
	left: 0px;
	top: 0px;

	border: 1px solid #000;
}

#mapDisplayHolder {
	display: none;
	position: absolute;
	top: 54px;
	left: 160px;

	width: calc(70% - 160px);
	height: calc(100% - 60px);
	overflow: auto;
}

.mapIsLoaded #mapDisplayHolder {
	display: block;
}

#entityBrowser {
	display: none;
	position: absolute;
	top: 54px;
	left: 70%;
	width: 30%;
	height: calc(100% - 72px);

	border: 1px solid #000;
}

#entityTree {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: 50%;

	overflow: auto;
}

#entityPropsOptions {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 70px;
	padding: 8px;
	border-top: 1px solid #000;
}

#entityProps {
	padding: 8px;
	position: absolute;
	top: calc(50% + 70px);
	left: 0px;
	width: 100%;
	height: calc(50% - 70px);

	overflow: auto;

	border-top: 1px solid #000;
}

.mapIsLoaded #entityBrowser {
	display: block;
}

#saveButtons {
	display: none;
}

.mapIsLoaded #saveButtons {
	display: inline-block;
}

.isLoading .instructions {
	display: none;
}

.mapIsLoaded .instructions {
	display: none;
}

#mapTools {
	padding: 4px;
	display: none;
}

.mapIsLoaded #mapTools {
	display: block;
}

.mapToolsList {
	list-style-type: none;
	padding-left: 0px;
}

#mapTools button {
	text-align: left;
	width: 140px;
	margin-bottom: 4px;
}

#mapTools button.undoButtons {
	width: 66px;
	text-align: center;
}

#isSaving {
	display: none;
}

.isSaving #isSaving {
	display: inline-block;
}

#file {
	display: none;
}

.layerToggle {
	padding-left: 16px;
	list-style-type: none;
}

.layerToggle label {
	margin-bottom: 0px;
}

#mousePreview {
	border: 1px solid #000;
	border-radius: 1px;
	position: absolute;
}

#brushSize, #mapZoom {
	width: 140px;
}

.mapEntity {
	pointer-events: none;
}

.selectionToolActivated .mapEntity {
	pointer-events: auto;

	cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectionToolActivated .mapEntity:active {
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mapEntity.entityIsSelected span {
	background-color: #111;
	color: #FFF;
	border: 1px solid #FFF;
}

.mapEntityText {
	color: #000;
	background-color: #FFF;
	border-radius: 4px;
	opacity: 0.75;
}

.hideEntityLabels .mapEntityText {
	display: none;
}

.hideEntities .mapEntity {
	display: none;
}

.requirePaintTool {
	display: none;
}

.paintToolActivated .requirePaintTool {
	display: block;
}